<div class="container mt-4">
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="mb-3">Welcome, <span class="text-primary"> {{adminDetails.username}}</span></h1>
        <div class="btn btn-outline-danger mx-3" (click)="Logout()">logout</div>
    </div>
    <a class="btn btn-primary" href="/CreateUser/{{0}}">Create user</a>
    <h3 class="mb-3">Users List</h3>
    <div class="alert alert-success my-3 alert-message" *ngIf="isDeleted">Deleted Successfully ✅</div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Email</th>
                <th class="text-center">Activation Status</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of Users">
                <td class="text-center">{{user.id}}</td>
                <td class="text-center">{{user.name}}</td>
                <td class="text-center">{{user.email}}</td>
                <td class="text-center ActiveStatus" *ngIf="user.isActive"></td>
                <td class="text-center NotActiveStatus" *ngIf="!user.isActive"></td>
                <td class="text-center">
                    <a class="btn btn-info btn-sm mx-1" href="UserDetails/{{user.id}}">Details</a>
                    <button class="btn btn-success btn-sm mx-1" *ngIf="user.isActive"
                        (click)="isActive(user)">Active</button>
                    <button class="btn btn-danger btn-sm mx-1" *ngIf="!user.isActive" (click)="isNotActive(user)">not
                        Active</button>
                    <a class="btn btn-warning btn-sm mx-1" href="/CreateUser/{{user.id}}">Edit</a>
                    <button class="btn btn-dark btn-sm mx-1" (click)="DeleteUser(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>